* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    border: 3px black dotted;

}

.box {
    display: inline-block;
    background-color: red;
    width: 100px;
    height: 100px;
}

#one {}

#two {
    background-color: green;
    position: static;
    position: absolute;
    margin-top: 50px;

}

#three {}

#four {
    margin-bottom: 50px;
}


main{
    
    margin: auto;
}

main div {
    border: 1px black solid;
   
}

.title-box {
    border-radius: 8px;
    background-color: red;
    font-size: 1.8rem;
    margin: auto;
    padding: 2rem;
    text-align: center;
    width: 15rem;
    position: relative;
    top: 3rem;

}

.context-box{
    border-radius: 5rem;
    width: 50rem;
    padding: 7.5rem 5rem;
    background-color: gray;
    font-size: 1.8rem;
    margin: auto;
    padding: 8rem;
    text-align: center;
    
}