* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.texto{
    color: yellow;

}

.texto::first-letter{
    color: blue;
    font-size: 50px;
}
.texto::first-line{

    font-size: 50px;
}
.texto::before{
    content: "Bienvenido";
    color: black;
}

.texto::after{
    content: " al evento ";
    color: red;
}

