* {
    font-size: 40px;

}

.conf {

    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background: gray;
    border: red solid 10px;
    display: block;
    overflow: hidden;
    position: relative;
    transition: all 1.2s;
    width: 50%;


}



img {
    float: left;

    width: 350px;
    margin: 10px;

}