* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  background: steelblue;
  padding: 30px;
}

.caja {
  margin: 15px;
  background: red;
  height: 60px;
  width: 60px;
  left: 0;
  position: relative;
  transition-property: left background;
  transition-duration: 1s, 0.6s;
  /*  transition-delay: 0.2s;
 */
}

.container:hover  > .caja{
  background: lightblue;
  left: 80%;
}
