.title{
    background: yellow;
    color:red;
}

.parrafo{
    background: green;
    color: white;
}

.bold{
    font-weight: bold;
}

.center {
    text-align: center;
}

._p{
    color :red;
}

/*
Notas:
la clases no pueden iniciar con numero

*/