:root{
    --color-blue : blue;
    --color-red : red;
}

body{
    font-size: 2em;
}

a{
    background: url() no-repeat center right / 2rem;
    padding: 2.2rem;
}

/*empieza ^ */

[href^="/"],[href^="https://ed.team"]{
    color:red;
    background: none;
}


/*termina $ */

[href$=".pdf"]{
    color : green;
    background: url() no-repeat center right /2rem;
    padding-right: 2rem;
}


/*
Notas:
*la clases no pueden iniciar con numero
*los id solo deben funcionar en JavaScript(son unicos) --> se identifica con un hash (#)
*las clases se puede reutilizar --se identifican con un punto (._css)
*Selector universal (*) no es buena idea usar.

el (.parrafo) son atributos  y el (P) es TAG

*/