* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 200px;
  gap: 20px;

  border: 3px solid black;
  margin: 10px;
  padding: 3px;
}

.item {
  width: 50px;
  height: 50px;
  border: 2px dotted black;
  background-color: darksalmon;
  flex-grow: 1;
}

.c1 {
  background-color: aqua;
  align-self: center;
}

.c2 {
  background-color: bisque;
}

.c3 {
  background-color: tomato;
  align-self: center;
}

.parent{
    border: 3px solid black;
    display: flex;
    height: 100vh;
    background-color: blueviolet;

}

.child{
    width: 100px;
    height: 100px;
    background-color: tomato;
    margin: auto;
}
