.main-nav {
    margin-top: 10px;
    list-style: none;
    padding: 0 0 0 0;
    background-color: rgb(48, 148, 48);
}


.main-nav__item {
    display: inline-block
}

.main-nav__item a {

    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none
}

/*  */
.main-nav__item a:hover {
    color: rgb(192, 34, 34);
}

.main-nav__item a:active {
    color: rgb(241, 226, 14);
}

/*  */

.main-nav__item a::after {
    content: " | ";
}