.main-nav {
  text-align: center;
  margin-top: 10px;
  padding: 30px;
  background-color: rgb(77, 104, 108);
}

.main-nav__item {
  display: inline-block;
}

.main-nav__item a {
  color: white;
  padding: 5px;
  text-decoration: none;
}

/*  */
.main-nav__item a:hover {
  color: rgb(118, 192, 34);
}

.main-nav__item a:active {
  color: rgb(241, 226, 14);
}

/*  */

.main-nav__item a::after {
  content: " | ";
}
